.map-container{
height: 100%;
display: flex;
/* overflow: hidden; */
position: relative;

}
 .mapboxgl-popup {
        max-width: 400px;
        font:
            12px/20px 'Helvetica Neue',
            Arial,
            Helvetica,
            sans-serif;
    }