.progress-container {
  position: absolute;
  width: 400px;
  height: 200px;
  bottom:60px;
  right: 70px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.progress-bar {
  position: absolute;
  bottom: 10px;
  transform: translateX(-50%, -50%);
  height: 10%;
  margin: 0 auto;
  border-radius: 5px;
  border: 2px solid #ccc;
  background-color: rgb(255, 255, 255);
  transition: width 0.4s ease-in-out, background-color 0.3s;
  scale: .9;
}

.progress-label {
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-weight: bold;
  /* pointer-events: none; */
}

.progress-message{
  position: absolute;
  width: 90%;
  left: 50%;
  top: 10px;
  color: black;
  font-weight: 600;
  transform: translateX(-50%);
}