.new-header {
  position: fixed;
  width: 100%;
  background-color: #3a3dfc;
  padding: 5px 20px; /* Add horizontal padding */
  height: 65px;
  z-index: 10000;
  display: flex;
  justify-content: space-between; /* Left and right alignment */
  align-items: center;
  border-bottom: 3px solid rgb(0, 0, 0);
}

.nav-links {
  display: flex;
  gap: 10px; /* spacing between links */
  margin-right: 30px;
}

.signin, .signup {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius: 20px;
  background-image: linear-gradient(to right, #6587f6 0%, #00106e 100%);
  border: none;
  color: white;
  padding: 15px 32px;
  /* font-size: 16px; */
  cursor: pointer;
  text-decoration: none;
  /* transition: color 0.3s; */
font-size: 1rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
font-weight: 600;
}

.signin:hover, .signup:hover {
   opacity: 0.6;  /* slightly dim the button */
  transition: opacity 0.3s ease;
  transform: scale(1.1);
}

.logo {
translate: -25px 8px;

}
.welcome-header{
font-size: 40px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}