@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 3rem 0;
  flex-wrap: wrap;
}

.button {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  background-color: #022247;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  font-size: 1rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  transform: scale(1.1);
  background-color: #005bb5;
}
