@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.header {
  -webkit-text-stroke: 2px rgb(0, 0, 0);
  padding: 1rem;
  background: linear-gradient(360deg, #431469, #561592);
  color: rgb(228, 228, 228);
  text-align: center;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}

.title {
  font-size: 4.5rem;
  margin: 0;
}
