.wrapper {
  background: linear-gradient(45deg, #4b5b69, #bdbed4); /* peach-pink gradient */
  min-height: 175vh;
  display: flex;
  flex-direction: column;
}

.fadeIn {
  opacity: 0;
  animation: fadeInAnimation 1s ease-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
